version: 2
jobs:
  build:
    docker:
      - image: engrsdomingues/neopragma:v2
    steps:
      - checkout
      - run:
          name: Move Source Code
          command: |
            mv src/main /neopragma/src
            ls -la /neopragma/src/main/cobol
      - run:
          name: Build & Test SAMPLE
          command: | 
            cd /neopragma
            echo 'Compiling ZUTZCPC'
            ./compile ZUTZCPC 
            echo 'Compiling SAMPLE'
            ./compile SAMPLE
            echo 'Testing Sample'
            ./run-ut SAMPLEC SAMPLE SAMPLET
      - run:
          name: Build & Test FILEDEMO
          command: | 
            cd /neopragma
            echo 'Compiling FILEDEMO '
            ./compile FILEDEMO
            echo 'Testing Sample'
            ./run-ut FILEDEMC FILEDEMO FILEDEMT