version: 2
jobs:
  build:
    docker:
      - image: engrsdomingues/neopragma:v2
    steps:
      - checkout
      - run:
          name: Move, Build & test
          command: |
            ls -la /neopragma/src
            mv src /neopragma/src
            ls -la /neopragma/src
            cd /neopragma
            ls -la
            cd ./src
            ls -la